.content-section {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 80px;
}

.left-section {
	float:left;
	width:150px;
}

.right-section {
	margin-left: 170px;

}

.profile-section {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 80px;
}

.profile-info-section {
	float:right;
    width:300px;
    height: 200px;
}

.profile-history-section {
	margin-right: 320px;
}

.profile-history-section-left {
	float:left;
	width: 50%;
    padding-right: 10px;
}

.profile-history-section-right {
	float:right;
	width: 50%;
    padding-left: 10px;
}

.button_cart {
	float:right;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: gray;
    color: white;
}

    .nav-pills > li > a{
    color: gray;
    font-family: 'Oswald', sans-serif;
}
